/* default font-size: 1.5rem; */
@import 'https://code.cdn.mozilla.net/fonts/fira.css';
/* default font-size: 1.8rem; */
@import 'https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&display=swap';
@import url(external.css);

/* To-do: Uncomment box sizing comments */
*, *::after, *::before {
    box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
}

/* HTML CONTENT SECTIONING ELEMENTS */
html, body {
    min-height: 100%;
    background-color: white;
    font-size: 62.5%;
}

/* Note: Flexbox does not collapse margins */
body {
    /* Removes browser default margins */
    margin: 0;
    /* Formats footer */
    display: flex;
    flex-direction: column;
    font-family: Assistant, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333;
    /* text-rendering: optimizeLegibility; */
    /* to stop flickering of text in safari */
    -webkit-font-smoothing: antialiased;
}

main {
    /* Formats footer */
    flex: 1 0 auto;
}

/* flex elements */
main section {
    margin: 1em 0;
}

footer.end-content {
    height: 10em;
}

/* HTML TEXT AND MEDIA ELEMENTS */
a {
    text-decoration: none;
    color: royalblue;
}

a:hover, a:active {
    background-color: lightsteelblue;
    color: black;
}

address {
    font-style: normal;
}

blockquote {
    position: relative;
    left: 5px;
    border-left: 3px solid #555;
    background-color: #eee;
    color: dimgray;
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.3rem;
    padding-left: 1.5em;
}

code {
    background-color: aliceblue;
    line-height: initial;
    word-spacing: initial;
}

code a {
    color: #333;
}

p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 1px;
}

h1, h2, h3 {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-weight: 400;
}

/* To-do: We want headers to scale font size 
relative to their parent containers */
h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child) {
    margin-top: 2em;
}

/* hr exists in containers 
but extends past container on both ends */
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px -16px;
}

/* CONTAINERS AND PADDING */
.container-page, .container-footer {
    max-width: 800px;
    margin: auto;
}

/* Allow content to have a height of site-footer */
.container-footer {
    min-height: inherit;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.padding-1-5em {
    padding: 1.5em;
}

.padding-3em-1-5em {
    padding: 3em 1.5em;
}

/* NAV ELEMENTS */
.nav-bar {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    /* Experimenting with rem vs em for Fira */
    /* font-size: 1.5rem; */
    font-size: 1em;
}

.nav-bar.flex-row{
    justify-content: space-between;
    align-items: center;
}

.nav-menu.flex-row{
    justify-content: space-between;
}

.nav-menu a {
    color: black;
    margin: 0 0.5em;
}

.nav-menu a:first-child {
    display: none;
}

.screen-reader-text {
    display: none;
}

/* FOOTER ELEMENTS */
/* Decides the placement of footer content */
.footer-bar {
    height: 100%;
    justify-content: safe flex-end;
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: black;
}

/* flex element */
.footer-bar section {
    margin: 0.5em 0;
}

.footer-bar a {
    color: white;
}

.footer-bar a:hover, a:active {
    background-color: lightsteelblue;
    color: #333;
}

.footer-bar hr {
    border-color: white;
}

.footer-bar p {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: black;
}

.footer-bar .cursor {
    color: black;
}

/* POST ELEMENTS */
/* !!! everything in post has not been audited */
.post p {
    font-family: Assistant, Helvetica, sans-serif;
    font-size: 1.25rem;      /* font-size: 20px; */
    line-height: 1.5em;
    word-spacing: 1px;
    color: #333;
}

.post-card p {
    margin: 0 0 0 2.5em;
}

.post-title {
    margin-bottom: 0;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    font-weight: 500;
}

/* ADDITIONAL DESIGN ELEMENTS */
.coding-tools {
    cursor: help;
}

.cursor {
    /* position: relative; */
    /* top: -0.2em; */
    /* left: 0.2em; */
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    color: #ccc;
}

#dim-backdrop {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ccc;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.logo {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 2.0rem;
    color: black;
    text-decoration: none;
}

.terminal {
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

.terminal.first-line {
    margin-bottom: 0;
}

#site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 6px 0 #ccc;
    /* code properly renders a one sided box shadow
    but clip-path clips toggle-nav-menu */
    /* clip-path: inset(0px 0px -5px 0px); */
}

#site-footer {
    /* Disallow shrink */
    flex-shrink: 0;
    bottom: 0;
    /* Footer should be at least as tall as viewport height */
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: lightslategrey;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
    button.hamburger {
        z-index: 10;
    }

    .toggle-nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        /* Text overflows in a zero width menu—hide it */
        overflow: hidden;
       
        background-color: white;
        box-shadow: 1px 0 6px 0 dimgrey;
        transition: width 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .toggle-nav-menu.flex-col {
        justify-content: flex-start;
    }
    
    .toggle-nav-menu.slide-left {
        width: 300px;
        transition: width 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    .toggle-nav-menu a {
        color: black;
        /* Experimenting with rem vs em for Fira */
        font-size: 1.2em;
        padding: 1em 1.5em;
        margin: 0;
    }

    .toggle-nav-menu a:first-child {
        display: inline;
        margin-top: 5em;
    }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    button.hamburger {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-footer {
        margin-left: 5em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
