@import 'https://code.cdn.mozilla.net/fonts/fira.css';
@import 'https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&display=swap';

/* To-do: Uncomment box sizing comments */
*, *::after, *::before {
    box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
}

/* HTML CONTENT SECTIONING ELEMENTS */
html, body {
    background-color: white;
    height: 100%;
    font-size: 62.5%;
}

/* Note: Flexbox does not collapse margins */
body {
    /* Removes browser default margins */
    margin: 0;
    /* Formats footer */
    display: flex;
    flex-direction: column;
    font-family: Assistant, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333;
    /* text-rendering: optimizeLegibility; */
}

main {
    /* Formats footer */
    flex: 1 0 auto;
}

/* flex elements */
main section {
    margin: 1em 0;
}

footer.end-content {
    height: 10em;
}

/* HTML TEXT AND MEDIA ELEMENTS */
a {
    text-decoration: none;
}

a:hover, a:active {
    background-color: lightsteelblue;
    color: black;
}

address {
    font-style: normal;
}

blockquote {
    position: relative;
    left: 5px;
    border-left: 3px solid #555;
    background-color: #eee;
    color: dimgray;
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.3rem;
    padding-left: 1.5em;
}

code {
    background-color: aliceblue;
    line-height: initial;
    word-spacing: initial;
}

code a {
    color: #333;
}

p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 1px;
}

p.a {
    opacity: 0.97;
}

h1, h2, h3 {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-weight: 400;
}

/* To-do: We want headers to scale font size 
relative to their parent containers */
h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

/* hr exists in containers 
but extends past container on both ends */
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px -16px;
}

/* CONTAINERS AND PADDING */
.container-page, .container-footer {
    max-width: 700px;
    margin: auto;
}

/* Allow content to have a height of site-footer */
.container-footer {
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.padding-1-5em {
    padding: 1.5em;
}

/* NAV ELEMENTS */
.nav-bar {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.nav-bar.flex-row{
    justify-content: space-between;
    align-items: center;
}

.nav-menu.flex-row{
    justify-content: space-between;
}

.nav-menu a {
    color: black;
    margin: 0 0.5em;
}

.screen-reader-text {
    display: none;
}

/* FOOTER ELEMENTS */
/* Decides the placement of footer content */
.footer-bar {
    position: relative;
    top: 20%;
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: black;
}

.footer-bar.flex-col {
    justify-content: center;
}

/* flex element */
.footer-bar section {
    margin: 0.5em 0;
}

.footer-bar a {
    color: white;
}

.footer-bar a:hover, a:active {
    background-color: lightsteelblue;
    color: #333;
}

.footer-bar hr {
    border-color: white;
}

.footer-bar p {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: black;
}

.footer-bar .cursor {
    color: black;
}

/* POST ELEMENTS */
/* !!! everything in post has not been audited */
.post p {
    font-family: Assistant, Helvetica, sans-serif;
    font-size: 1.25rem;      /* font-size: 20px; */
    line-height: 1.5em;
    word-spacing: 1px;
    color: #333;
}

.post-card p {
    margin: 0 0 0 2.5em;
}

.post-title {
    margin-bottom: 0;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    font-weight: 500;
}

/* ADDITIONAL DESIGN ELEMENTS */
.coding-tools {
    cursor: help;
}

.cursor {
    position: relative;
    top: -0.2em;
    left: 0.2em;
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    color: #ccc;
}

.logo {
    font-family: 'Fira Mono','Courier New', Courier, monospace;
    font-size: 2.0rem;
    color: black;
    text-decoration: none;
}

.terminal {
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

.terminal.first-line {
    margin-bottom: 0;
}

#site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 6px 0 #ccc;
    clip-path: inset(0px 0px -5px 0px);
}

#site-footer {
    /* Disallow shrink */
    flex-shrink: 0;
    bottom: 0;
    /* Footer should be at least as tall as viewport height */
    min-height: 100vh;
    background-color: lightslategrey;
}

/* everything smaller than 768px? has footer text padding-left away */
/* everything bigger has footer text has margin-left: 100px away */
@media only screen and (max-width: 750px) {
    .logo {
        font-size: 1.25rem;
        color: black;
        text-decoration: none;
    }
    
    .nav-menu {
        font-size: 1rem;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: black;
        margin: 0 0.25em;
    }
}
